:root {

 font-size: 62.5%;

 --space-x-large: 12rem;
 --space-large: 10rem;
 --space-medium: 6rem;
 --space-small: 3rem;
 --space-x-small: 2rem;

 --body-font: 'Open Sans', sans-serif;
 --head-font: 'Poppins', sans-serif;

 --color-pop: hsl(322, 100%, 66%);
 --color-pop-active: hsl(321, 100%, 78%);
 --color-pop-alt: hsl(0, 100%, 63%);

--color-footer: hsl(192, 100%, 9%);
--color-light: hsl(207, 100%, 98%);
}

body {
 font-size: 1.8rem;
 font-family: var(--body-font);
 color: var(--color-footer);
 text-align: center;
 line-height: 1.6;
}

img {
 max-width: 100%;
}

h1,
h2,
h3 {
 font-family: var(--head-font);
 line-height: 1.4;
}

.container {
 width: 98%;
 max-width: 40rem;
 margin-inline: auto;
}

.nav {
 display: flex;
 justify-content: space-between;
 padding-block: var(--space-small);
 align-items: center;
 margin-bottom: var(--space-large);
}

.logo {
 width: 12rem;
}

.btn--nav {
  text-decoration: none;
  color: var(--color-pop);
  font-size: 1.3rem;
  border: 1px solid;
  border-radius: 5rem;
  padding: 6px 2rem;
}

.hero {
 margin-bottom: var(--space-x-large)
}

.title {
 margin-bottom: var(--space-small);
}

.hero__text {
 margin-bottom: var(--space-medium);
}

.btn {
 color: #fff;
 background: var(--color-pop);
 text-decoration: none;
 font-size: 1.4rem;
 padding: 1.5rem 3rem;
 border-radius: 5rem;
 box-shadow: 0 5px 1rem rgba(0, 0, 0, .1);
 border: none;
}

.btn:hover,
.btn:active {
 opacity: .7;
 transition: .2s;
}

.stats {
 margin-block: var(--space-x-large);
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: var(--space-medium);
}

.stat {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 gap: 5px;
}

.stat__number {
 font-size: 5rem;
}

.stat__icon {
 width: 3rem;
}

.stat__detail {
 font-size: .1.4rem;
}

.section {
 display: flex;
 flex-direction: column-reverse;
 margin-bottom: var(--space-x-large);
}

.section--highlighted-1 {
 padding-top: calc(var(--space-x-large) * 2.1);
 padding-bottom: calc(var(--space-x-large) + var(--space-medium));
  background: url(images/bg-section-top-mobile-1.svg), url(images/bg-section-bottom-mobile-1.svg), linear-gradient(var(--color-light), var(--color-light));
  background-repeat: no-repeat;
  background-size: 100%, 100%, 100% 78%;
  background-position: top, 0 94%, 0 center;
}

.section--highlighted-2 {
 padding-top: calc(var(--space-x-large) * 2.1);
 padding-bottom: calc(var(--space-x-large) + var(--space-medium));
  background: url(images/bg-section-top-mobile-2.svg), url(images/bg-section-bottom-mobile-2.svg), linear-gradient(var(--color-light), var(--color-light));
  background-repeat: no-repeat;
  background-size: 100%, 100%, 100% 78%;
  background-position: top, 0 100%, 0 center;
}

.cta {
 padding-bottom: var(--space-x-large);
}

.cta__title {
 margin-bottom: var(--space-medium);
}

.footer {
 background: url(images/bg-footer-top-mobile.svg), linear-gradient(var(--color-footer), var(--color-footer));
 background-repeat: no-repeat;
 background-size: 100%, 100% 95%;
 background-position: top ,bottom;
 color: #fff;
 padding-top: var(--space-x-large);
 padding-bottom: var(--space-medium);
 text-align: left;
 padding-inline: 2rem;
}

.footer__sections {
 display: flex;
 flex-direction: column-reverse;
 gap: var(--space-large);
}

.footer__title {
 text-transform: uppercase;
 font-family: var(--body-font);
}

.footer__text {
 font-size: 1.5rem;
}

.footer__logo {
 filter: brightness(0) invert();
 width: 18rem;
}

.footer__text--phone,
.footer__text--email {
 display: flex;
 align-items: center;
}

.footer__text--phone {
 margin-top: var(--space-medium);
}

.footer__text--phone::before {
 content: url(images/icon-phone.svg);
 margin-right: 1rem;
}

.footer__text--email::before {
 content: url(images/icon-email.svg);
 margin-right: 1rem;
}

.social {
 display: flex;
 align-items: center;
 margin-top: var(--space-medium);
}

.social__icon {
 margin-inline: 1rem;
 font-style: normal;
 font-size: 3rem;
}

.social__icon:first-of-type {
 margin-left: 0;
}

.form--newsletter {
 display: flex;
 flex-direction: column;
 align-items: flex-end;
 gap: 2rem;
 margin-top: var(--space-small);
}

.form__input--newsletter {
 width: 90%;
 border-radius: 5px;
 border: none;
 padding: 1.5rem;
}

.btn--newsletter {
 border-radius: 5px;
 cursor: pointer;
}

@media(min-width: 1200px){

 :root {
  --ideal-desktop-size: 100rem;
 }

 body {
  text-align: left;
 }
 
 .container {
  width: 98%;
  max-width: 98%;
  margin-inline: auto;
 }
 
 .header {
  max-width: var(--ideal-desktop-size);
  margin-inline: auto;
 }

 .nav {
   padding-block: var(--space-medium)
 }
 
 .logo {
  width: 14rem;
 }
 
 .btn--nav {
   font-size: 1.6rem;
 }
 
 .hero {
  text-align:center;
 }
 
 .hero__text {
  width: 70%;
  margin-inline: auto;
 }
 
 .btn:hover,
 .btn:active {
  opacity: .7;
  transition: .2s;
 }
 
 .stats {
  margin-block: 0;
  flex-direction: row;
  gap: var(--space-large);
  justify-content: center;
  margin-top: var(--space-medium);
 }
 
 .section {
  flex-direction: row;
  gap: var(--space-medium);
  justify-content: center;
 }

 .section > * {
  width: 50%;
  max-width: 45rem;
 }
 
 .section--highlighted-1 {
  padding-top: calc(var(--space-x-large) * 2.1);
  padding-bottom: calc(var(--space-x-large) + var(--space-medium));
   background: url(images/bg-section-top-desktop-1.svg), url(images/bg-section-bottom-desktop-1.svg), linear-gradient(var(--color-light), var(--color-light));
   background-repeat: no-repeat;
   background-size: 100%, 100%, 100% 65%;
   background-position: top, 0 94%, 0 center;
 }
 
 .section--highlighted-2 {
  padding-top: calc(var(--space-x-large) * 2.1);
  padding-bottom: calc(var(--space-x-large) + var(--space-medium));
   background: url(images/bg-section-top-desktop-2.svg), url(images/bg-section-desktop-mobile-2.svg), linear-gradient(var(--color-light), var(--color-light));
   background-repeat: no-repeat;
   background-size: 100%, 100%, 100% 65%;
   background-position: top, 0 100%, 0 center;
 }
 
 .section:nth-of-type(2){
  flex-direction: row-reverse;
 }
 
 .cta {
   max-width: 55rem;
   margin-inline: auto;
   text-align: center;
 }
 
 .footer {
  background: url(images/bg-footer-top-desktop.svg), linear-gradient(var(--color-footer), var(--color-footer));
  background-repeat: no-repeat;
  background-size: 100%, 100% 78%;
  background-position: top ,bottom;
  color: #fff;
  padding-top: calc(var(--space-x-large) * 2);
 }
 
 .footer__sections {
  flex-direction: row;
  max-width: var(--ideal-desktop-size);
  margin-inline: auto;
 }

}